<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7qlaAdNGWQkacp5Fac5Ya8JOh0-69hj0</string>
	<key>GCM_SENDER_ID</key>
	<string>513087834506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yakihonne.yakihonne</string>
	<key>PROJECT_ID</key>
	<string>yakihonne-16c4e</string>
	<key>STORAGE_BUCKET</key>
	<string>yakihonne-16c4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513087834506:ios:c5352ec2c1f68067be6073</string>
</dict>
</plist>